@import "css-reset.css" all;

#header {
	position: relative;
	width: 100%;
	height: 126px;
	background: #FFFFFF;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
}
	.header-content {
		vertical-align: baseline;
		width: 940px;
		margin: 0 auto;
	}
		.header-content a {
			float: left;
			margin-top: 18px;
			width: 252px;
			height: 80px;
		}
		.header-content h1 {
			float: left;
			margin-left: 60px;
			margin-top: 17px;
			width: 300px;
			color: #DB5B27;
			font-size: 20px;
			line-height: 20px;
			font-weight: normal;
		}
		.header-content h1 .strong {
			font-weight: bold;
			font-size: 22px;
		}
		.header-content p {
			float: right;
			text-align: right;
			font-size: 30px;
			font-weight: bold;
			color: #DB5B27;
			padding-top: 20px;
		}
.inner {
	width: 940px;
	margin: 0 auto;
}
#first {
	height: 560px;
	background: url('../images/1.png') no-repeat 0 -437px;
}
		.first-inner .left {
			float: left;
			padding-top: 130px;
		}
		.first-inner .left p {
			padding:10px 5px;
			color :#383737;
			font-size: 34px;
			font-weight: bold;
			text-align: center;
			line-height: 1.8;
			background: url('../images/font-bg.png');
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			
		}
		.big-font {
			font-size: 38px;
			color: #DB5B27;
		}
		.first-inner .right {
			float: right;
			padding-top: 130px;
			width: 400px;
		}
		.right form {
			background: url('../images/font-bg.png');
			padding: 10px 5px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
		}
		.right h2 {
			display: block;
			text-align: center;
			margin-bottom: 20px;
			color :#383737;
			font-size: 34px;
		}
		.right input {
			height: 30px;
			width: 390px;
			margin-bottom: 10px;
		}
#second {
	height: 150px;
	background: #FFFFFF;
}
	.second-inner ul {
		padding: 20px;
	}
	.second-inner li {
		width: 110px;
		height: 110px;
		display: inline-block;
		margin: 0 50px;
		border: 2px solid transparent;
		-moz-border-radius: 55px;
		-webkit-border-radius: 55px;
		border-radius: 55px;
	}
	.second-inner li.first {
		background: url('../images/gift.jpg') no-repeat -23px -10px;
	}
	.second-inner li.second {
		background: url('../images/gift.jpg') no-repeat -23px -10px;
	}
	.second-inner li.third{
		background: url('../images/gift.jpg') no-repeat -23px -10px;
	}
	.second-inner li.fourth {
		background: url('../images/gift.jpg') no-repeat -23px -10px;
	}
	.second-inner li:hover {
		border: 2px solid #949299;
		-moz-box-shadow: 0 5px 5px 0 grey;
		-webkit-box-shadow: 0 5px 5px 0 grey;
		box-shadow: 0 5px 5px 0 grey;
	}
#third {
	height: 200px;
	background: url('../images/third-bg.png') no-repeat 0 0;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
#fourth {
	height: 220px;
	background: url('../images/fourth-bg.jpg') repeat 0 0;
}
#fifth {
	height: 500px;
	
}
#footer {
	height: 300px;
	background-color: #25282B;
}